/*!
* ♥ Linkfire
*/

@import './section.scss';
@import './spot.scss';
@import './title.scss';
@import './header.scss';

@font-face {
	font-family: 'Roboto';
	src: url("../fonts/Roboto/Roboto-Thin.ttf") format("truetype");
	src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
	src: url("../fonts/Roboto/Roboto-ThinItalic.ttf") format("truetype");
}

body {
	font-family: 'Roboto-Thin'; 
}


